{% extends 'BaseBis.html.twig' %}

{% block body %}
    <h1 style="text-align: center";>Livre édité</h1>

        <table>
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Editer"" class="btn btn-primary" />
            {{ form_end(edit_form) }}

        
        
            <a href="{{ path('livres_index') }}"" class="btn btn-primary" >Retour à la liste des livres</a>
            
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer"" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </table>
       
{% endblock %}
