{% extends 'BaseBis.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Liste des livres</h1><br></div>

    <table class="table table-striped">
        <thead>
            <tr>
                
                <th scope="col" >Titre</th >
                <th scope="col">Auteur</th >
                <th scope="col">Description</th>
                <th scope="col">Editeur</th >
                <th scope="col">photo</th>
                <th scope="col">Date</th >
                <th scope="col">Sous thème</th>
                <th scope="col" colspan ="2" class="text-center" >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.description | slice (0,50)}}</td>
                <td>{{ livre.editeur }}</td>
                <td>{{ livre.urlPhoto }}</td>
                <td>{% if livre.date %}{{ livre.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ livre.soustheme }}</td>
            
                <td>
                   
                            <a href="{{ path('livres_show', { 'id': livre.id }) }}" class="btn btn-primary">Afficher</a>
                        </td><td>
                            <a href="{{ path('livres_edit', { 'id': livre.id }) }}"class="btn btn-info">Editer</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
            <a href="{{ path('livres_new') }}" class="btn btn-primary">Créer un nouveau titre</a>
        
{% endblock %}
