{% extends 'BaseBis.html.twig' %}

{% block body %}
    <h1 style ="text-align:center">Ajouter un nouveau Titre</h1>

<table>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer un nouveau titre" " class="btn btn-primary"/>
        
    {{ form_end(form) }}

    
        <a href="{{ path('livres_index') }}" " class="btn btn-primary">Retour à la liste</a>
    </table>
       
{% endblock %}
