
[   {% for article in articles -%}
    {{ {value: article.id, label: article.titre}|json_encode|raw }},
    
    {%- endfor %}
    {% for aut in auteurs -%}
    {{ {value: loop.index, label: aut.auteur}|json_encode|raw }}
    {%- if not loop.last %},{% endif -%}
    {%- endfor %}]