{% extends 'base.html.twig' %}
{% block title %} Création compte{% endblock %}
{% block body %}

{% for message in app.session.flashBag.get('infocreation') %}
 <script>
       $(document).ready(function () {   
        {% if message|length < 31 %}           
            toastr.error('{{message}}',{positionClass: "toast-top-center"},{showDuration: 600},{escapeHtml:true},{progressBar: true}); 
        {% else %}
             toastr.success('{{message}}',{positionClass: "toast-top-center"},{showDuration: 600},{escapeHtml:true},{progressBar: true}); 
        
        {% endif %}
    });
    </script>
{% endfor %}
<!-- Material form contact -->
<form action="{{ path('creercomptepage') }}" method="post">
<div class="card mb-9" style="max-width: 60rem;">
    <div class="card-header text-center" ><h3><font color="#A10684">Créer votre compte</font></h3></div>
    <div class="card-body text-secondary">
            <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="materialFormContactNameEx" class="form-control" placeholder ="Nom" name="nom">
        
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="materialFormContactNameEx" class="form-control" placeholder =" Prenom" name="prenom">
        
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="ContactEmail" class="form-control " placeholder ="Votre mail" name="mail">
         <small id="mailHelpBlockMD1" class="form-text invisible text-danger">
                    Votre adresse mail est invalide (exemple@exemple.fr)
                    </small>

    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="Contactpwd1" class="form-control element-survole" placeholder ="Mot de passe  8-20 caractères, une lettre en majuscule, une lettre minuscule et un chiffre" name="pwd">
        <small id="passwordHelpBlock1" class="form-text  invisible text-danger">
                    Votre adresse mot de passe est invalide (Doit contenir impérativement 8-20 caractères, une lettre en majuscule une lettre minuscule et un chiffre)
                    </small>
    </div>
     <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="Contactpwd2" class="form-control element-survole" placeholder ="Confirmer votre mot de passe">
        <small id="passwordHelpBlock2" class="form-text invisible text-danger">
                    Votre mot de passe est invalide (Doit être identique à celui saisie précédemment)
                    </small>
    </div>
    
    
    

    <div class="text-center mt-4">
        <button class="btn btn-outline-secondary" id ="btnCreerCompte" type="submit">Envoyer<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
    </div>
</div> <br><br>
</form>

                 

            
{% endblock %}

{% block stylesheets %}
{% endblock %}
