{% extends 'base.html.twig' %}

{% block body %}

<div class ="row">
{% for livre in math %}

<div class= "col-md-4">

    <!-- Card Dark -->
    <div class="card">

          <!-- Card image -->
          <div class="view zoom">
          
          <img class="card-img" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap" >             
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">

            
            <!-- Title -->
            <h5 class="card-title">{{livre.titre}}</h5>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">{{livre.auteur}}</p>
            <!-- Link -->
            <a href="{{ path('livre_show', { 'id': livre.id }) }}" class="white-text d-flex justify-content-end"><h5>Lire <i class="fa fa-angle-double-right"></i></h5></a>

          </div>

    </div>
    <!-- Card Dark -->
                
  </div>
  {% endfor %}
</div>
<br>
<div class ="row">
{% for livre in chimie %}

<div class= "col-md-4">

    <!-- Card Dark -->
    <div class="card">

          <!-- Card image -->
          <div class="view zoom">
            <img class="card-img-top" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">

            
            <!-- Title -->
            <h6 class="card-title">{{livre.titre}}</h6>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">{{livre.auteur}}</p>
            <!-- Link -->
            <a href="{{ path('livre_show', { 'id': livre.id }) }}" class="white-text d-flex justify-content-end"><h5>Lire <i class="fa fa-angle-double-right"></i></h5></a>

          </div>

    </div>
    <!-- Card Dark -->
                
  </div>
  {% endfor %}
</div>
<br>
<div class ="row">
{% for livre in biologie %}

<div class= "col-md-4">

    <!-- Card Dark -->
    <div class="card">

          <!-- Card image -->
          <div class="view zoom">
            <img class="card-img-top" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">

            
            <!-- Title -->
            <h5 class="card-title">{{livre.titre}}</h5>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">{{livre.auteur}}</p>
            <!-- Link -->
            <a href="{{ path('livre_show', { 'id': livre.id }) }}" class="white-text d-flex justify-content-end"><h5>Lire <i class="fa fa-angle-double-right"></i></h5></a>

          </div>

    </div>
    <!-- Card Dark -->
                
  </div>
  {% endfor %}
</div>
<br>

            
{% endblock %}


