<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<b>Objet : </b>Récupération de mot de passe<br>
Bonjour {{ prenom }} <br>
Veuillez trouver çi-dessous votre mot de passe.<br>
Votre mot de passe est personnel, il ne doit être communiqué à aucune autre personne. 
En cas de perte vous pouvez le changer à tout moment dans votre espace de connexion.<br>
Mot de passe actuel : {{ pwd }}<br>
Cordialement<br>
Service des abonnements.
</div>
    
</body>
</html>







