{% extends 'base.html.twig' %}
{% block title %} Présentation {% endblock %}
{% block body %}


<!-- Material form contact -->
<div class="card mb-9" style="max-width: 60rem;">
    <div class="card-header text-center" ><h3><font color="#A10684">Présentation</font></h3></div>
    <div class="card-body text-secondary">
        {{backO.discription}}   
    </div>
        
   
</div>
                      

                    

            
{% endblock %}

{% block stylesheets %}

{% endblock %}
