{% extends 'base.html.twig' %}
{% block title %}Recherche avancée{% endblock %}

{% block body %}

<!-- Material form contact -->
<form action="{{ path('resultatrechercheavancer')}}" method="POST">
<div class="card mb-9" style="max-width: 60rem;">
    <div class="card-header text-center" ><h3><font color="#A10684">Recherche avancée</font></h3></div>
    <div class="card-body text-secondary">
    <form>
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="titre" name="titreTrouve">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Auteur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="Auteur" name="auteurTrouve">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">EAN</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="EAN" name="EANTrouve">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Thème</label>
    <div class="col-sm-10">
     <select id="inputState" class="form-control" name="themeTrouve">
        <option>Mathematiques</option>
        <option>Biologie</option>
        <option>Physique Chimie</option>
        <option>Lettre</option>
        <option>Sciences Industrielles</option>
        <option>Informatique</option>         
      </select>
    </div>
  </div>
</form>
  
    

    <div class="text-center mt-4">
        <button class="btn btn-outline-secondary" type="submit">Envoyer<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
    </div>
</div>
</form>       
{% endblock %}

{% block stylesheets %}

{% endblock %}
