{% extends 'base.html.twig' %} {% block title %}Resultat de Recherche{% endblock %} {% block body %}

<!-- Card -->

{% if titretrouve|length == 0 %} 
 Aucune demande de recherche n'a été formulée. 
 Veuillez saisir  à nouveau votre demande.
  <button type="button" data-toggle="modal" data-target="#centralModalWarning" id="btnmodal" class="invisible">Launch modal</button>
  <!-- Central Modal Medium Warning -->
  <div class="modal fade" id="centralModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
      <!--Content-->
      <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
              <p class="heading lead">Message d'information</p>                  
                <a class="close" href="{{ path('recherchepage') }}">
                <span aria-hidden="true" style="color: white;">&times;</span></a>
              
          </div>
  
          <!--Body-->
          <div class="modal-body">
              <div class="text-center">
                  <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                  <p> Votre recherche n'a pas pu aboutir. Veuillez réessayer à nouveau </p>
              </div>
          </div>
  
          <!--Footer-->
          <div class="modal-footer justify-content-center">
             <a class="btn btn-warning" href="{{ path('recherchepage') }}">OK</a>
          
          </div>
      </div>
      <!--/.Content-->
  </div>
  </div>
  <!-- Central Modal Medium Warning-->
  
{% endif %}                                       
{% if titretrouve|length < 2 %} {% for liv in titretrouve %} 
  <div class="card card-cascade wider reverse mb-3 divlivreselectionnee" >

    <!-- Card image -->
    <div class="view zoom">
        <img class="card-img-top imageselectionnee" src="{{ asset(liv.urlPhoto) }}" alt="Card image cap"  >
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center">

        <!-- Title -->
        <h4 class="card-title">
            <strong>{{liv.titre}}</strong>
        </h4>
        <hr class="hr-dark">
        <!-- Subtitle -->
        <!-- Text -->
        <p class="card-text text-lowercase text-justify">{{liv.description}} </p>

    </div>
    <div class="card-footer text-left">

        <span class="font-weight indigo-text text-md-left">
            <b>Auteur : </b>{{liv.auteur}}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Date de parution : </b>{{ liv.date|date("m/d/Y") }}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Thème : </b>{{ liv.theme }}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Nombre de pages : </b>{{ liv.nbPages }}</span>
        <br>
         {% if (app.session.get('loginUser') == "NOconnexion" or app.session.get('loginUser') == NULL ) %}
                 <span class="font-weight indigo-text text-md-left"><a data-toggle="modal" data-target="#modalRegisterForm"><b>Connectez-vous pour télécharger ce livre </b></a></span><br>   
    {% endif %}
   </div>
    {% if (app.session.get('loginUser') == "OKconnexion") %}                
                    <a href="{{ path('Download') }}" class="btnDownload"><i class="fa fa-download"></i> Download</a>
    {% endif %}
    </div>


    </div>

    {% endfor %} {% else %} 
    <div class="row">
    
    {% for liv in titretrouve %}

    <div class="col-md-4 mb-3">

        <!-- Card Dark -->
        <div class="card">

            <!-- Card image -->
            <div class="view zoom">

                <img class="card-img" src="{{ asset(liv.urlPhoto) }}" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body elegant-color white-text rounded-bottom">


                <!-- Title -->
                <h5 class="card-title">{{liv.titre}}</h5>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">{{liv.auteur}}</p>
                <!-- Link -->
                <a href="{{ path('livre_show', { 'id': liv.id }) }}" class="white-text d-flex justify-content-end">
                    <h5>Lire
                        <i class="fa fa-angle-double-right"></i>
                    </h5>
                </a>

            </div>

        </div>
        <!-- Card Dark -->
    </div>
    {% endfor %} 
    </div>    
    {% endif %}
     {% endblock %}
      {% block stylesheets %} {% endblock %}