.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    font-size: x-small;
    background-color: rgb(9, 186, 240);
    overflow-x: hidden;
    z-index:9999;
}
.btnDownload {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
}
.btnDownload:hover {
    background-color: RoyalBlue;
    color: white;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    vertical-align: middle;
    box-shadow: 4px 5px 5px grey;
}
#myBtn:hover {
    background-color: #3F729B;
}
.imageselectionnee {
    width:300px; 
    height:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px; 
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
}
.divlivreselectionnee {
    width:500px; 
    height:1200px;
    margin-left: auto;
    margin-right: auto;

}